.breadcrumbs {
  margin-bottom: 1rem;
  .card-body {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.breadcrumb {
  margin-bottom: 0;
  .breadcrumb-item {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}